           *{   
		    	margin: 0;
		    	padding: 0;
		    }
		    html{
		    	height: 658px;
		    	background-image: url(img/bg3.jpg);
		    	background-color: lightpink ;
		    }
		    body{			    		    	
		    	padding-left:195px;
		    	padding-top:8px ;
		    }
			#sroll{
				position: relative;
				border: 5px ridge ;
				width: 960px;
				height: 640px;		      
			}
			#sr1{
				width: 100%;
				height: 100%;
				position: absolute;
				left:0;
				top: 0;
				z-index: 0;
			}
			#sr2,#sr3,#sr4{
				visibility: none;
	            position: absolute;
				left:0;
				top: 0;
			  height: 100%;
			  width: 100%;
			}
			#sr2{
				z-index: -2;
			}
			#sr3{
				z-index: -3;
			}
			#sr4{
				z-index: -4;
			}
			#guide{
				width: 50px;
				position: fixed;
				left: 0px;
				top: 75px;
				z-index: 1;
			}
			.gus{				
				width: 50px;
				height: 40px;
				margin-top:10px ;
				/*border: 1px solid fuchsia;*/
				border-radius: 4px;
				background-color: deepskyblue;
			}
			.gus p{
				text-align: center;
				font-family: "新宋体";
				font-size: 18px;
				font-weight: bold;
				margin-right:5px ;
				height: 40px;
				width: 50px;
				line-height: 40px;
				cursor: pointer;
			}
			.gus p a{
				height: 40px;
				color: white;
				text-decoration: none;
			}
			#index{
				width: 1370px;
				height: 670px;
				position: fixed;
				left: 0;
				top: 0;
				z-index: 10;
			}
			#index img{
				width: 100%;
				height: 100%;				
			}
			#au{
				position: fixed;
				right: 0;
				top: 0px;
				z-index: 9;
				display: none;
			}
			#au audio{
				margin-bottom: 0;
			}
			#bgmusic{
				position: fixed;
				right: 60px;
				top: 30px;
				z-index: 9;
			}
			#bgmusic p{
				color: blue;
				font-weight: bold;
				cursor: pointer;
			}
			
            #l,#r{
            	position: fixed;  
            	top: 8px;  
            	width: 100px;
            	height: 640px;
            	padding-top:270px ; 
            	cursor: pointer; 
            	z-index: 2;	
            }
            #l{
            	
            	left: 195px;
            }
            #r{
            	left:1065px ;
            }
            #l img,#r img{
            	width: 100px;
            	height: 100px;
            }