#register,#logins{
				background-color: rgba(0,0,100,0.6);
				text-align: center;
				display: none;
				position: fixed;
				left:495px;
				top:180px;				
				width:400px;
				height: 400px;
				z-index: 11;
			}
			#logins{
				height: 300px;	
			}
			#register form,#logins form{
				position: relative;
				top:20px;
			}
			.checknum p{
				color: #C6C6C6;
				font-size: 15px;
			}
			#logins form{
				top:40px;
			}
			ul{
				list-style: none;
			}
			ul li {
				color: yellow;
				font-size: large;
				font-weight: bold;
			}
			ul li input,#sub,#denglu{
				font-size: large;
				height: 30px;
				line-height: 30px;
			}
			.confirm{
				position: relative;
				left: -19px;
			}
			.tel{
				position: relative;
				left: -27px;
			}
			
			.check p input{
				position: relative;
				top: 8px;
			}
			#sub,#denglu{
				border: 0;
				background-color: blue;
				color: yellow;
				width: 70px;
            }
            #aa,#bb{
            	margin-top: 5px;
            }
            #aa p a,#bb p a{
            	text-decoration: underline;
            	margin-right: 10px;
            	color: yellow;
            	cursor: pointer;
            }
            .loginbar{
            	position: fixed;
            	left: 0;
            	top: 0;
            	width: 160px;
            	height: 25px;
            	background-color: darkturquoise;
            	display: none;
            	z-index: 11;
            }
            .loginbar p{
            	width: 160px;
            	text-align: center;
            	color: forestgreen;
            	height: 25px;
            	line-height: 25px;
            	font-size: 15px;
            	float: left;
            }
            .loginbar input{
            	border: 0;
            	height: 20px;
            	line-height: 20px;
            	font-size:15px;
            	cursor:pointer;
            }
            .closer{
            	position: absolute;
            	right:0;
            	top:0;
            	width: 45px;
                height: 17px;
                z-index: 11;
            }